<p class="text-danger">Hello world</p>


<!-- <div [hidden]="textField.hidden" *ngFor="let textField of userFormField"
          class=" col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">

          <container-element  [ngSwitch]="textField.type">
            <mat-form-field *ngSwitchCase="'text'"  class="example-full-width mb-3" appearance="outline">
              <mat-label>{{textField.label |translate | titlecase}}</mat-label>
              <input matInput [formControlName]="textField.fieldId">
              <mat-error *ngIf="dialogForm?.get(textField.fieldId).hasError('required')">
                {{textField.label |translate|titlecase}} is required
              </mat-error>
            </mat-form-field>


            <mat-form-field *ngSwitchCase="'select'" class="example-full-width mb-3" appearance="fill">
               [hideRequiredMarker]="hideRequiredControl.value" [floatLabel]="floatLabelControl.value"
              <mat-option *ngFor="let item of (textField.values |async)" [value]="item">{{item}}</mat-option>

              <mat-select [formControlName]="textField.fieldId" [compareWith]="compareItem">
                <mat-option [value]="null">{{'MISCELLANEOUS.selected'|translate|titlecase}}</mat-option>
                <mat-option *ngFor="let item of (textField.values |async) " [value]="item.fieldId">{{item.value | translate}}
                </mat-option>

              </mat-select>
              <mat-label>
                <i> {{textField.label | translate | titlecase}}</i>
              </mat-label>
            </mat-form-field>


          </container-element>
        </div> -->

<form #userForm1="ngForm" [formGroup]="userForm" (ngSubmit)="submitMethod(userForm1)" novalidate="novalidate" class="form-row">

  <!-- <div class="errorMessage" *ngIf="!isValid">{{field.label}} is required</div> -->

  <!-- <label [attr.for]='field.fieldId'>{{ field.label }}</label> -->

  <fieldset>

    <div [hidden]="field.hidden" *ngFor="let field of userFormField">

      <div [ngSwitch]='field.type'>

        <input class="form-control" [formControlName]='field.fieldId' *ngSwitchCase="'text'" [id]='field.fieldId'
          [name]="field.fieldId" [placeholder]="field.label">

        <select class="form-control" [id]='field.fieldId' [name]="field.fieldId" [formControlName]='field.fieldId'
          *ngSwitchCase="'select'">
          <option *ngFor='let opt of field.values | async' [value]='opt.key'>{{ opt.value }}</option>
        </select>
      </div>

    </div>
    <button type="submit">Submit</button>
  </fieldset>

</form>
