<form #userForm1="ngForm" [formGroup]="userForm" (ngSubmit)="submitMethod(userForm1)" novalidate="novalidate">
  <div [hidden]="field.hidden" *ngFor="let field of userFormField">

    <div [ngSwitch]='field.type'>

      <div class="form-group">
        <input [class]="field.class" [formControlName]='field.fieldId' [type]="field.inputType" *ngSwitchCase="'text'" [id]='field.fieldId'
               [name]="field.fieldId" [placeholder]="field.label">
      </div>
      <div class="form-group">
        <select [class]="field.class" [id]='field.fieldId' [name]="field.fieldId" [formControlName]='field.fieldId'
                *ngSwitchCase="'select'">
          <option *ngFor='let opt of field.values | async' [value]='opt.key'>{{ opt.value }}</option>
        </select>
      </div>
      <div class="form-group">
        <textarea [formControlName]='field.fieldId' *ngSwitchCase="'textarea'" [class]="field.class"
                  [id]='field.fieldId' [name]="field.fieldId" [placeholder]="field.label"></textarea>
      </div>
      <div class="form-group">
        <select [class]="field.class" [id]='field.fieldId' multiple [name]="field.fieldId" [formControlName]='field.fieldId'
                *ngSwitchCase="'select-multiple'">
          <option *ngFor='let opt of field.values | async' [value]='opt.key'>{{ opt.value }}</option>
        </select>
      </div>
    </div>

  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
